#main {
    background-color: #e8e3ec;
    font-family:  roman;
    margin-top: -30px;  
  }
  
  #image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
    border: 8px solid rgb(117, 33, 181);
    
  }
  
  #img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  }
  
  
  #title h1{
    background-color: rgb(117, 33, 181);
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 55px;
  }
  #title h2{ 
    text-align: center;
    border: groove 8px #D3D3D3;
    margin-left: 35%;
    margin-right: 35%;
  }
  
  #title p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 15px;
  }
  
  
  #img-caption {
    text-align: center;
    padding-top: 2px;
  }
  
  #tribute-info {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    }
  #tribute-link {
    display: block;
    background-color: rgb(117, 33, 181);
    padding: 4px;
    color: white;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
  }
  
  
  
  